{% extends 'dashboard/dash_base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load static %}
{% block content %}

<head>
    <title>Personal Information</title>
</head>


<body>
    {% if user.is_authenticated %}
    <div class="container-fluid profile col-md-8 px-5 pt-3 shadow-lg">
        <h2 class="text-dark py-2 alert alert-light">{{ profile.first_name }} {{profile.last_name}}</h2>
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags}}" {% endif %}>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <h4 class="text-dark py-2 alert alert-secondary">Personal</h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered bg-light shadow-sm">
                    <tr class="h6" style="height:50px; vertical-align: middle;">
                        <th class="text-center" width="30%">Name</th>
                        <td>{{ profile.first_name }} {{profile.last_name}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered bg-light shadow-sm">
                    <tr class="h6" style="height:50px; vertical-align: middle;">
                        <th class="text-center" width="30%">Date of Birth</th>
                        <td>{{ profile.birthday }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered bg-light shadow-sm">
                    <tr class="h6" style="height:50px; vertical-align: middle;">
                        <th class="text-center" width="30%">Gender</th>
                        <td>{{ profile.gender }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered bg-light shadow-sm">
                    <tr class="h6" style="height:50px; vertical-align: middle;">
                        <th class="text-center" width="30%">Marital Status</th>
                        <td>{{ profile.marital }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered bg-light shadow-sm">
                    <tr class="h6" style="height:50px; vertical-align: middle;">
                        <th class="text-center" width="30%">Official Email</th>
                        <td>{{ profile.per_email }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-bordered bg-light shadow-sm">
                    <tr class="h6" style="height:50px; vertical-align: middle;">
                        <th class="text-center" width="30%">Phone number</th>
                        <td>{{ profile.phone }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <h4 class="text-dark py-2 alert alert-secondary">Work</h3>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered bg-light shadow-sm">
                        <tr class="h6" style="height:50px; vertical-align: middle;">
                            <th class="text-center" width="40%">Employee ID</th>
                            <td>{{ profile.emp_id }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered bg-light shadow-sm">
                        <tr class="h6" style="height:50px; vertical-align: middle;">
                            <th class="text-center" width="40%">Designation</th>
                            <td>{{ profile.title }} {{ profile.position }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered bg-light shadow-sm">
                        <tr class="h6" style="height:50px; vertical-align: middle;">
                            <th class="text-center" width="40%">Reporting Manager</th>
                            <td>{{ profile.manager }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered bg-light shadow-sm">
                        <tr class="h6" style="height:50px; vertical-align: middle;">
                            <th class="text-center" width="40%">Department</th>
                            <td>{{ profile.department }}</td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>
    {% endif %}
    <script>
        $(function () {
            $("#id_birthday").datepicker();
        });
    </script>
</body>

{% endblock content %}