{% extends 'dashboard/dash_base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}


<body>
    <div class="container profile col-md-4 px-5 pt-3 shadow-lg">
        <h3 class="text-center text-dark py-2 alert alert-info">Change Password</h3>
        {% if  messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row align-items-start">
            <form id="login-form" class="form text-dark" action="" method="post">
                {% csrf_token %}
                {% if form %}
                {{ form.old_password|as_crispy_field }} <br>
                {{ form.new_password1|as_crispy_field }} <br>
                {{ form.new_password2|as_crispy_field }} <br>
                
                <div class="form-group py-3">
                    <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Update">
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>

{% endblock content %}