{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>About Us</title>
</head>

<div id="aboutus" class="for-fixed-footer">
    <div class="container">
        <center class="pt-4 display-4">
            Company Overview
        </center>
        <div class="row py-5">
            <div class="col-sm-6">
                <div style="background-color: rgb(236, 236, 236);" class="card border-0 pb-5 mb-3">
                    <div class="card-body pb-5">
                        <h3 class="card-title">Who We Are (Company and Team)</h3>
                        <ul class="pt-2">
                            <li class="pt-1">Delivering Excellence with Unyielding Quality and Integrity</li>
                            <li class="pt-1">To become the preferred consultation partner and RnD hub for innovative
                                technology</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div style="background-color: rgb(236, 236, 236);" class="card border-0 mb-3">
                    <div class="card-body">
                        <h3 class="card-title">How We Work (Work Ethics)</h3>
                        <ul class="pt-2">
                            <li class="pt-1">C - be Creative/Committed in/towards developing optimized solutions</li>
                            <li class="pt-1">R - be Restless till the Customer succeeds</li>
                            <li class="pt-1">E - be Ethical in whatever we do</li>
                            <li class="pt-1">S - do Sustainable Development every time</li>
                            <li class="pt-1">T - be Tenacious towards excellence</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(236, 236, 236);">
        <div id="client" class="container">
            <center class="py-4 display-4">
                Client Testimonials
            </center>

            <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
                <div id="bmp" class="card img-hover px-0" style="width: 19rem;">
                    <!-- <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="..."> -->
                    <!-- <div class="overlay ctr">
                                <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                        More</button></a>
                            </div> -->
                    <div class="card-body">
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex
                            aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore
                            itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi
                            ducimus? </p>
                        <h5 class="text-end">- Andreas Engelmann</h5>
                    </div>
                </div>
                <div id="pmms" class="card img-hover px-0" style="width: 19rem;">
                    <!-- <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="..."> -->
                    <!-- <div class="overlay ctr">
                                <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                        More</button></a>
                            </div> -->
                    <div class="card-body">
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex
                            aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore
                            itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi
                            ducimus? </p>
                        <h5 class="text-end">- Holm Bestmann</h5>
                    </div>
                </div>
                <div id="pmms" class="card img-hover px-0" style="width: 19rem;">
                    <!-- <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="..."> -->
                    <!-- <div class="overlay ctr">
                                <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                        More</button></a>
                            </div> -->
                    <div class="card-body">
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex
                            aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore
                            itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi
                            ducimus? </p>
                        <h5 class="text-end">- Philip Heigener</h5>
                    </div>
                </div>
            </div>
            <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
                <div id="osrlw" class="card img-hover px-0" style="width: 19rem;">
                    <!-- <img src="{% static 'images/board-1.jpg'%}" class="img-fluid align-self-center" alt="..."> -->
                    <!-- <div class="overlay ctr">
                                <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                        More</button></a>
                            </div> -->
                    <div class="card-body">
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex
                            aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore
                            itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi
                            ducimus? </p>
                        <h5 class="text-end">- Michael Glueck</h5>
                    </div>
                </div>
                <div id="cp" class="card img-hover px-0" style="width: 19rem;">
                    <!-- <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="..."> -->
                    <!-- <div class="overlay ctr">
                                <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                        More</button></a>
                            </div> -->
                    <div class="card-body">
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex
                            aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore
                            itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi
                            ducimus? </p>
                        <h5 class="text-end">- Christian Mecke</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="team" class="container">
        <center class="py-4 display-4">Team (Key Stakeholders)</center>

        <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
            <div id="bmp" class="card img-hover px-0" style="width: 19rem;">
                <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                <!-- <div class="overlay ctr">
                            <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                    More</button></a>
                        </div> -->
                <div class="card-body">
                    <h5 class="card-title text-center">Deepankar Gaur</h5>
                    <h6 class="text-center pt-1">designation</h6>
                </div>
            </div>
            <div id="pmms" class="card img-hover px-0" style="width: 19rem;">
                <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                <!-- <div class="overlay ctr">
                            <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                    More</button></a>
                        </div> -->
                <div class="card-body">
                    <h5 class="card-title text-center">Aswin Thoudam</h5>
                    <h6 class="text-center pt-1">designation</h6>
                </div>
            </div>
            <div id="pmms" class="card img-hover px-0" style="width: 19rem;">
                <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                <!-- <div class="overlay ctr">
                            <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                    More</button></a>
                        </div> -->
                <div class="card-body">
                    <h5 class="card-title text-center">Maria Thomas</h5>
                    <h6 class="text-center pt-1">designation</h6>
                </div>
            </div>
        </div>
        <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
            <div id="osrlw" class="card img-hover px-0" style="width: 19rem;">
                <img src="{% static 'images/board-1.jpg'%}" class="img-fluid align-self-center" alt="...">
                <!-- <div class="overlay ctr">
                            <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                    More</button></a>
                        </div> -->
                <div class="card-body">
                    <h5 class="card-title text-center">Rangarajan Keshavamurthy</h5>
                    <h6 class="text-center pt-1">designation</h6>
                </div>
            </div>
            <div id="cp" class="card img-hover px-0" style="width: 19rem;">
                <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                <!-- <div class="overlay ctr">
                            <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                    More</button></a>
                        </div> -->
                <div class="card-body">
                    <h5 class="card-title text-center">Prajwal Kulkarni</h5>
                    <h6 class="text-center pt-1">designation</h6>
                </div>
            </div>
        </div>

    </div>

    <div style=" background-color: rgb(236, 236, 236);">
        <div id="location" class="container">
            <center class="pt-4 display-4">
                Locations
            </center>
            <div class="row py-5">
                <div class="col">
                    <center>
                        <h3 class="pb-2">Bengaluru, Karnataka, India</h3>
                    </center>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.926659904809!2d77.63145901482139!3d12.912435190894689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x50e6de257aaa2323!2sCrestaerospace%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1643883912121!5m2!1sen!2sin"
                        width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col">
                    <center>
                        <h3 class="pb-2">Hamburg, Germany</h3>
                    </center>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2367.800199896987!2d9.900382715847913!3d53.59702658003231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b1867c9733360b%3A0x71c0019beb6cf025!2sFangdieckstra%C3%9Fe%2064%2C%2022547%20Hamburg%2C%20Germany!5e0!3m2!1sen!2sin!4v1643883946071!5m2!1sen!2sin"
                        width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col">
                    <center>
                        <h3 class="pb-2">Reading, UK</h3>
                    </center>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d621.7345853370185!2d-0.9350514010685786!3d51.44092622823827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487684b0f3c07f99%3A0xca61d2a6d06dced!2sReading%20Enterprise%20Centre%2C%20Whiteknights%20Rd%2C%20Earley%2C%20Reading%20RG6%206BU%2C%20UK!5e0!3m2!1sen!2sin!4v1643884133441!5m2!1sen!2sin"
                        width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    

    <div class="container text-center pt-5">

        {%  if name %}

            <center style="color: rgb(59, 114, 7);">
                <h2>
                    Thanks {{ name }}!!
                </h2>
                <p>We recieved your mail and respond shortly...</p>
            </center>

        {% endif %}

        <h5 class="display-5">CONTACT FORM</h5>
        <h5 class="opacity-75 pt-3">Have any questions? We'd love to hear from you.<br>Please fill the following form
            and click the SEND MESSAGE button.</h5>
    
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row d-inline-flex pt-4">
                <div class="form-floating mb-3 col-md-4">
                    <input type="text" class="form-control bg-secondary bg-opacity-25" name="from-name" id="name"
                        placeholder="Name">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3 col-md-4">
                    <input type="email" class="form-control bg-secondary bg-opacity-25" name="from-email" id="email"
                        placeholder="Email address">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3 col-md-4">
                    <input type="text" class="form-control bg-secondary bg-opacity-25" name="from-phone" id="phone"
                        placeholder="Phone">
                    <label for="phone">Phone</label>
                </div>
                <div class="form-floating my-3 col-12">
                    <textarea name="from-message" id="area" class="form-control bg-secondary bg-opacity-25"
                        style="height: 200px;" placeholder="Message"></textarea>
                    <label for="area">Message</label>
                </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary text-center my-4" value="Send Message">
                </div>
    
            </div>
    
        </form>
    
    </div>
</div>



{% endblock content %}