{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Industries</title>
</head>

<div id="ind" class="for-fixed-footer">
    <div class="bg-secondary bg-opacity-25" id="product">
        <div id="aero" class="container text-center py-5">
            <h4 class="display-4">AEROSPACE</h1>
                <p class="h6">Expertise in DO178B, DO178C and DO330 based Lifecycles for all criticality levels of Software.</p>
        </div>
        <div class="container">
            <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
                <div id="ccms" class="card img-hover px-0" style="width: 30rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body">
                        <h5 class="card-title">Cabin Control and Monitoring Systems</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="cls" class="card img-hover px-0" style="width: 30rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body">
                        <h5 class="card-title">Cabin Lighting Systems</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="wwcs" class="card img-hover px-0" style="width: 30rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body">
                        <h5 class="card-title">Water and Waster Control Systems</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="ap" class="card img-hover px-0" style="width: 30rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body">
                        <h5 class="card-title">Attendant Panels</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="product">
        <div class="container text-center py-5">
            <h4 id="loco" class="display-4">Locomotive + Automotive</h1>
        </div>
        <div class="container">
            <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
                <div id="wwcs2" class="card img-hover px-0" style="width: 19rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body" style="background-color:rgb(240, 240, 240)">
                        <h5 class="card-title">Water and Waste Control Systems</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="mlc" class="card img-hover px-0" style="width: 19rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body" style="background-color:rgb(240, 240, 240)">
                        <h5 class="card-title">Modular Logic Controllers</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="plc" class="card img-hover px-0" style="width: 19rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body" style="background-color:rgb(240, 240, 240)">
                        <h5 class="card-title">Programmable Logic Controllers</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="bg-secondary bg-opacity-25 pb-5" id="product">
        <div id="health" class="container text-center py-5">
            <h4 class="display-4">Health</h1>
        </div>
        <div class="container">
            <div id="ts" class="card mx-5">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div id="Consulting" class="card-body">
                            <h4 class="card-title">Test Systems</h4>
                            <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}