{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Services</title>
</head>

<div id="service" class="for-fixed-footer">
    <div class="container pt-3 pb-2">
        <div class="card mx-5" style="background-color: rgb(238, 237, 237);">
            <div class="row g-0">
                <div class="col-md-5">
                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div id="Consulting" class="card-body">
                        <h4 class="card-title">Consulting</h4>
                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5" style="background-color: rgb(238, 237, 237);">
            <div class="row g-0">
                <div class="col-md-7">
                    <div id="Product" class="card-body">
                        <h4 class="card-title text-end">Product Engineering</h4>
                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounder-end float-end" alt="...">
                </div>
            </div>
        </div>
        <div class="card m-5" style="background-color: rgb(238, 237, 237);">
            <div class="row g-0">
                <div class="col-md-5">
                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                    <div id="rnd" class="card-body">
                        <h4 class="card-title">Research and Development</h4>
                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5" style="background-color: rgb(238, 237, 237);">
            <div class="row g-0">
                <div class="col-md-7">
                    <div id="it" class="card-body">
                        <h4 class="card-title text-end">IT Transformation and Automation</h4>
                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                    </div>
                </div>
                <div class="col-md-5">
                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-end float-end" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}