{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<head>
    <title>Technologies</title>
</head>

<div id="tech" class="for-fixed-footer">
    <div style="background-color: rgb(180, 180, 180);">
        <div id="embedded" class="container">
            <center class="py-4 display-1">
                Embedded
            </center>
            <div id="carouselembedded" class="carousel slide pb-5" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselembedded" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselembedded" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselembedded" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselembedded" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Bare Metal Programming</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Programming Microcontrollers, Microprocessors and SoC</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Operating Systems RTOS, Linux, Windows</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Communication Protocols</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselembedded" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                        style="position:relative; right:150px; background-color: rgb(189, 189, 189);"
                        aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselembedded" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                        style="position:relative; left:150px; background-color: rgb(189, 189, 189);"
                        aria-hidden="true"></span> -->
                </a>
            </div>
        </div>
    </div>
    
    <div id="product">
        <div id="web" class="container text-center py-5">
            <h4 class="display-4">Web Applications</h1>
        </div>
        <div class="container">
            <div class="row d-flex px-5 gap-5 pb-5 justify-content-center">
                <div id="fsbd" class="card img-hover px-0" style="width: 19rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body" style="background-color:rgb(240, 240, 240)">
                        <h5 class="card-title">Full Stack based Development</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="mmba" class="card img-hover px-0" style="width: 19rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body" style="background-color:rgb(240, 240, 240)">
                        <h5 class="card-title">Monolith and Microservices based Architectures</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
                <div id="sduid" class="card img-hover px-0" style="width: 19rem;">
                    <img src="{% static 'images/board-1.jpg'%}" class=" img-fluid align-self-center" alt="...">
                    <!-- <div class="overlay ctr">
                        <a href=""><button type="button" class="btn btn-primary btn-lg">Learn
                                More</button></a>
                    </div> -->
                    <div class="card-body" style="background-color:rgb(240, 240, 240)">
                        <h5 class="card-title">Static and Dynamic User Interface Designs</h5>
                        <p class="card-text pt-2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem sequi obcaecati maxime assumenda officia, ducimus adipisci quam quasi ex aperiam, fuga dicta delectus natus sed asperiores at dolorum id inventore itaque! Deleniti doloremque assumenda laudantium aut ullam adipisci, nisi ducimus? </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-5" style="background-color: rgb(180, 180, 180);">
        <div class="container pt-4">
            <!-- <center class="py-4">
                <h1>Embedded</h1>
            </center> -->
            <div id="carouselothers" class="carousel slide pb-5" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselothers" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselothers" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselothers" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselothers" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">IoT (Internet of Things)</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Industrial Automation</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Cyber Security</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mx-5">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img style="width: auto;" src="{% static 'images/board-1.jpg'%}" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-7">
                                    <div id="Consulting" class="card-body">
                                        <h4 class="card-title">Analytics</h4>
                                        <p class="card-text pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quae qui placeat
                                            ea soluta! Amet labore illum, fuga hic tenetur odio sequi voluptatibus quo eos rerum laborum
                                            corrupti dicta autem odit, iusto molestias quae quod. Quas velit enim, pariatur unde, cumque
                                            sapiente, error consectetur asperiores quisquam itaque recusandae dolores similique.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- <a class="carousel-control-prev" href="#carouselothers" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"
                        style="position:relative; right:150px; background-color: rgb(189, 189, 189);"
                        aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#carouselothers" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"
                        style="position:relative; left:150px; background-color: rgb(189, 189, 189);"
                        aria-hidden="true"></span> -->
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock content %}